<div class="layout-row">
  <div class="layout-row layout-align-center-center layout-wrap flex-100">
    <div class="page-container">
      <div class="layout-row layout-align-start-center layout-wrap tournament-details">
        <div class="layout-row layout-align-start-center flex-20 flex-xs-100">
          <div class="torunament-logo"><img src={{tournament.tournamentLogo}} alt=""></div>
        </div>
        <div class="layout-row layout-align-start-center flex-70 flex-xs-100">
          <h2>{{tournament.tournamentName}}</h2>
        </div>
        <div class="layout-row layout-align-end-center flex-10">
          <button class="btn btn-default login-buttons" onClick={{route-action "transitionToHome"}}>{{fa-icon "arrow-left" size=""}} Volver</button>
        </div>
        <div class="layout-row layout-align-center-center layout-wrap  flex-100 tournament-progress-wrap">
          <div class="flex-100 progress">
            <div class="progress-bar progress-bar-striped active" role="progressbar"
            aria-valuenow="40" aria-valuemin="0" aria-valuemax="100" style="width:{{progressValue}}">
              {{progressValue}}
            </div>
          </div>
          <div class="layout-row layout-align-start-center flex-50 tournament-dates">
            {{moment-format tournament.startDate 'DD MMM'  }}
          </div>
          <div class="layout-row layout-align-end-center flex-50 tournament-dates">
            {{moment-format tournament.endDate 'DD MMM'}}
          </div>
        </div>
        {{#each groupFases as |groupFase|}}
          <div class="layout-row layout-align-center-center layout-wrap  flex-100 fases-wrap">
            <div class="layout-row layout-align-center-center flex-100 fase-title">
              <div>
                {{groupFase.faseName}}
              </div>
            </div>
            {{#each groupFase.faseGroups as |group|}}
              <div class="flex-100 group-title">
                {{group.groupName}}
              </div>
              <div class="layout-row layout-align-center-center flex-100">
                {{models-table
                  class="flex-100"
                  data=group.groupTeams
                  columns=groupColumns
                  showColumnsDropdown=false
                  filteringIgnoreCase=false
                  useFilteringByColumns=false
                  customMessages=customMessages
                  customClasses=customClasses
                  showComponentFooter=false
                  showGlobalFilter=false
                }} 
              </div>
            {{/each}}
          </div>
        {{/each}}
         {{#each qualificationFases as |qualificationFase|}}
          <div class="layout-row layout-align-center-center layout-wrap  flex-100 fases-wrap">
            <div class="layout-row layout-align-center-center flex-100 fase-title">
              <div>
                {{qualificationFase.faseName}}
              </div>
            </div>
          </div>
        {{/each}}
      </div>
    </div>
  </div>
</div>
{{log fasesCharged}}


<div class="layout-row layout-align-center-center flex-100">
                <table class="table table-striped">
                  <thead>
                    <tr>
                      <th>equipo 1</th>
                      <th>puntaje</th>
                      <th>equipo 2</th>
                    </tr>
                  </thead>
                  <tbody>
                    {{#each events as |event|}}
                        <tr>
                          <td>
                            <div class="layout-row layout-align-start-center flex-100">
                              <div class="team-flag">{{world-flag event.teamOne.abreviation}}</div>
                              <div>{{event.teamOne.teamName}}</div>
                            </div>
                          </td>
                          <td>{{event.teamOneScore}} - {{event.teamTwoScore}}</td>
                          <td>
                            <div class="layout-row layout-align-start-center flex-100">
                              <div class="team-flag">{{world-flag event.teamTwo.abreviation}}</div>
                              <div>{{event.teamTwo.teamName}}</div>
                            </div>
                          </td>
                        </tr>
                    {{/each}}
                   </tbody>
                </table>
              </div>